body {
  font-family: "Montserrat", sans-serif;
}
h2{
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
.testimonial-text {
  color: white;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.one {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 5%;
}
.container-fluid {
  padding: 3% 15% 6%;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 20px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.download-button {
  margin: 5% 5% 5% 0;
}
.title-image {
  position: absolute;
  right: 30%;
  width: 60%;
  transform: rotate(25deg);
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.column {
  width: 70%;
  margin: auto;
  color: #8f8f8f;
}
.feature-icon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 10%;
}
.col-lg-4 {
  margin: 10% 0;
}
.feature-icon:hover {
  color: #ff4c68;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press-img {
  width: 10%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
.footer-head{
  color:white;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 5%;
  line-height: 1.5;
}
.button-bot{
  margin:2%;
}
.bot-icon{
  margin :10px 10px;
}
#pricing{
  padding: 100px;
  text-align: center;
  
}
#testimonials {
  background-color: #ff4c68;
  text-align: center;
  color: white;
}
#features {
  background-color: white;
  text-align: center;
  position: relative;

}
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
#title {
  color: white;
  background-color: #ff4c68;
}
#cta{
  padding :6% 15% 4%;
  background-color: #ff4c68;
  text-align: center;

}
#footer{
  text-align: center;
  background-color: #fff;
  margin:5% auto;
}
.price-col{
  padding: 3% 2%;
}
p{
  color: #8f8f8f;
}
@media (max-width :1092px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
